@import "tailwindcss";

@font-face {
  font-family: Allenoire-Font;
  src: url(./assets/Fonts/Allenoire\ Font.otf);
}

@theme {
  --color-Dark-1: #452829;
  --color-Dark-2: #57595b;
  --color-Light-1: #e8d1c5;
  --color-Light-2: #f3e8df;
  --font-Allenoire-Font: Allenoire-Font;
}

*:focus {
  outline: none !important;
}

input[type="range"] {
  overflow: hidden;
  appearance: none;
  background-color: #f3e8df;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #57595b;
  margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: #452829;
  box-shadow: -80px 0 0 80px #57595b;
}
