@import "tailwindcss";

@font-face {
  font-family: Allenoire-Font;
  src: url(./assets/Fonts/Allenoire\ Font.otf);
}

@theme {
  --color-Dark-1: #452829;
  --color-Dark-2: #57595b;
  --color-Light-1: #e8d1c5;
  --color-Light-2: #f3e8df;
  --font-Allenoire-Font: Allenoire-Font;
}

*:focus {
  outline: none !important;
}

/* 8 colors to use for background instead of
Pure Black
Sable
Charcoal Gray
#0B1215
#101720
Obsidian
Midnight Blue
#0D1717
#020D19
Dark Slate Gray
Rich Black
#011222
Deep Navy Blue
Oil Black */

/* FONTS
QUROUA
GLITTEN
BULGATTI
FLORISHA
BRUNEY
ALLENOIRE
SKVNTE */
